*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(145deg,rgb(26, 26, 216),rgb(26, 166, 166),rgb(158, 54, 158));
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.search-bar{
    max-width: 400px;
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    border-radius: 20px;
    position: relative;
    transition: all 0.8s ease;
    box-shadow: 0 2px 6px black;

}
.search-bar input{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(0, 255, 110);
    border: none;
    font-size: 1.5rem;
    padding: 0 0 0 20px;
    color: #fff;
    outline: none;
    position: absolute;

}
.search-bar input::placeholder{
    color: #fff;
}
.search-bar i{
    position: absolute;
    right: 0;
    width: 80px;
    background-color: aqua;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
#check{
    display: none;
}
#check:checked ~ .search-bar{
    width: 80px;
}