*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main_box{
    background: url(https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}
.sidebar_menu{
    position: fixed;
    height: 100vh;
    width: 280px;
    left: -280px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}
.logo{
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}
.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    line-height: 60px;
}
.menu{
    position: absolute;
    top: 80px;
    width: 100%;
}
.menu li{
    margin-top: 6px;
    padding: 14px 20px;

}
.menu a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.menu li:hover{
    border-left: 1px solid #fff;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
#check{
    display: none;
}
.main_box .btn_one i{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;
}
.sidebar_menu .btn_two i{
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 240px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s linear;

}
.btn_one i:hover{
    font-size: 29px;   
}
#check:checked ~ .sidebar_menu{
    left: 0px;
}
#check:checked ~ .btn_one i{
    opacity: 0;
}
#check:checked ~ .btn_two i{
    opacity: 1;
}
